black
email_validator
flask
flask_bcrypt
flask_login
flask_mail
flask_sqlalchemy
flask_wtf
gunicorn
itsdangerous
Pillow
pylint
pylint-flask
pylint-flask-sqlalchemy
python-dotenv
wtforms
